*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;

}

body {
  background-color: #333;
}

a {
  text-decoration: none;
}

form {
  width: 18.75rem;
  background-color: white;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 0.625rem;
}

form label{
  display: block;
  margin: 0.625rem;
  
}

form input,
form select {

}

form input, form select {
  height: 2.5rem;
  padding-left: 0.625rem;
  border: 1px solid #333;
}

.button {
  background-color: blueviolet;
  color: white;
  margin-top: 0.625rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.5s;
}

.button:hover {
  background: coral;
}

.skip {
  margin-right: 0;
}

span {
  color: red;
}